In [29]:
import numpy as np
import pandas as pd

1.a, Đọc file stocks1.csv => Đưa dữ liệu vào stocks1

In [30]:
stocks1 = pd.read_csv('stocks1.csv')
print(stocks1.head())

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

Hiển thị 5 dòng dữ liệu đầu và cuối của stocks1

In [31]:
print("5 dòng dữ liệu đầu của stocks1:")
print(stocks1.head())

print("\n5 dòng dữ liệu cuối của stocks1:")
print(stocks1.tail())

5 dòng dữ liệu đầu của stocks1:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

5 dòng dữ liệu cuối của stocks1:
        date symbol     open     high      low    close   volume
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99  1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80  1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03  1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86  1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30  1166559

Cho biết kiểu dữ liệu (dtype) của các cột của stocks1

In [32]:
print("\nKiểu dữ liệu (dtype) của các cột của stocks1:")
print(stocks1.dtypes)

Kiểu dữ liệu (dtype) của các cột của stocks1:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Xem thông tin (info) của stocks1

In [33]:
print("\nThông tin (info) của stocks1:")
print(stocks1.info())

Thông tin (info) của stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

1.b, Đọc file stocks2.csv => Đưa dữ liệu vào stocks2

In [34]:
stocks2 = pd.read_csv('stocks2.csv')
print(stocks2.head())

       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

Hiển thị 5 dòng dữ liệu đầu và cuối của stocks2

In [35]:
print("5 dòng dữ liệu đầu của stocks2:")
print(stocks2.head())

print("\n5 dòng dữ liệu cuối của stocks2:")
print(stocks2.tail())

5 dòng dữ liệu đầu của stocks2:
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

5 dòng dữ liệu cuối của stocks2:
       date symbol    open      high     low   close    volume
5  01-03-19   TSLA  306.94  307.1300  291.90  294.79  22911375
6  04-03-19   TSLA  298.12  299.0000  282.78  285.36  17096818
7  05-03-19   TSLA  282.00  284.0000  270.10  276.54  18764740
8  06-03-19   TSLA  276.48  281.5058  274.39  276.24  10335485
9  07-03-19   TSLA  278.84  284.7000  274.25  276.59   9442483

Cho biết kiểu dữ liệu (dtype) của các cột của stocks2

In [36]:
print("\nKiểu dữ liệu (dtype) của các cột của stocks2:")
print(stocks2.dtypes)

Kiểu dữ liệu (dtype) của các cột của stocks2:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Xem thông tin (info) của stocks2

In [37]:
print("\nThông tin (info) của stocks2:")
print(stocks2.info())

Thông tin (info) của stocks2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   symbol  10 non-null     object
 2   open    10 non-null     float64
 3   high    10 non-null     float64
 4   low     10 non-null     float64
 5   close   10 non-null     float64
 6   volume  10 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 692.0+ bytes
None

1.c, Đọc file companies.csv => Đưa dữ liệu vào companies

In [38]:
companies = pd.read_csv('companies.csv')
print(companies.head())

   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

Cho biết kiểu dữ liệu (dtype) của các cột của companies

In [39]:
print("\nKiểu dữ liệu (dtype) của các cột của companies:")
print(companies.dtypes)

Kiểu dữ liệu (dtype) của các cột của companies:
name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object

Xem thông tin (info) của companies

In [40]:
print("\nThông tin (info) của companies:")
print(companies.info())

Thông tin (info) của companies:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                5 non-null      object
 1   employees           5 non-null      int64
 2   headquarters_city   5 non-null      object
 3   headquarters_state  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None

2. Cho biết trong stocks1 có dữ liệu Null hay không?

In [41]:
print("\nDữ liệu Null trong stocks1:")
print(stocks1.isnull().sum())

Dữ liệu Null trong stocks1:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

Nếu Null cột high thì thay bằng giá trị max trên cột high của mã chứng khoán đó

In [42]:
stocks1['high'].fillna(stocks1.groupby('symbol')['high'].transform('max'), inplace=True)

Nếu Null cột low thì thay bằng giá trị min trên cột low của mã chứng khoán đó

In [43]:
stocks1['low'].fillna(stocks1.groupby('symbol')['low'].transform('min'), inplace=True)

In [44]:
print("\nDữ liệu Null sau khi thay thế:")
print(stocks1.isnull().sum())

Dữ liệu Null sau khi thay thế:
date      0
symbol    0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

3. Tạo dataframe stocks bằng cách gộp stocks1 và stocks2 theo dòng

In [45]:
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

Xem 15 dòng dữ liệu cuối của stocks

In [46]:
print("15 dòng dữ liệu cuối của stocks:")
print(stocks.tail(15))

15 dòng dữ liệu cuối của stocks:
        date symbol     open       high      low    close    volume
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06  1167.5700  1124.75  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

4.  Tạo dataframe stocks_companies bằng cách gộp stocks và companies theo dòng

In [47]:
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')

Xem 5 dòng dữ liệu đầu của stocks_companies

In [48]:
print("5 dòng dữ liệu đầu của stocks_companies:")
print(stocks_companies.head())

5 dòng dữ liệu đầu của stocks_companies:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state
0     613300           Seattle                 WA
1     613300           Seattle                 WA
2     613300           Seattle                 WA
3     613300           Seattle                 WA
4     613300           Seattle                 WA

5. Cho biết giá (open, high, low, close) trung bình và volume trung bình của mỗi công ty

In [50]:
nhom_stocks = stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

Giá trung bình và volume trung bình của mỗi công ty:
          open        high       low     close      volume
name
AAPL   174.890   175.76600   173.472   174.674  23733309.4
AMZN  1681.284  1694.13400  1651.078  1671.046   4755355.0
FB     167.654   169.56440   166.190   168.510  19603715.2
GOOG  1148.032  1158.63000  1134.118  1150.396   1321077.0
TSLA   288.476   291.26716   278.684   281.904  15710180.2

6. Cho biết giá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty

In [51]:
gia_dong_cua = nhom_stocks['close'].agg(['mean', 'max', 'min'])

# Hiển thị kết quả
print("Giá đóng cửa trung bình, lớn nhất và nhỏ nhất của mỗi công ty:")
print(gia_dong_cua)

Giá đóng cửa trung bình, lớn nhất và nhỏ nhất của mỗi công ty:
          mean      max      min
name
AAPL   174.674   175.85   172.50
AMZN  1671.046  1696.17  1625.95
FB     168.510   172.51   162.28
GOOG  1150.396  1162.03  1140.99
TSLA   281.904   294.79   276.24

7. Tạo cột parsed_time trong stocks_companies bằng cách đổi thời gian sang định dạng DateTime

In [52]:
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])

Cho biết kiểu dữ liệu của cột parsed_time

In [53]:
print("Kiểu dữ liệu của cột parsed_time:", stocks_companies['parsed_time'].dtype)

Kiểu dữ liệu của cột parsed_time: datetime64[ns]

Hiển thị 5 dòng dữ liệu đầu của stocks_companies

In [54]:
print("5 dòng dữ liệu đầu của stocks_companies:")
print(stocks_companies.head())

5 dòng dữ liệu đầu của stocks_companies:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state parsed_time
0     613300           Seattle                 WA  2019-01-03
1     613300           Seattle                 WA  2019-04-03
2     613300           Seattle                 WA  2019-05-03
3     613300           Seattle                 WA  2019-06-03
4     613300           Seattle                 WA  2019-07-03

8. Thêm cột result, nếu giá 'close'>'open' thì cột result có giá trị 'up', ngược lại 'down'

In [55]:
stocks_companies['result'] = np.where(stocks_companies['close'] > stocks_companies['open'], 'up', 'down')

print("5 dòng dữ liệu đầu của stocks_companies sau khi thêm cột result:")
print(stocks_companies.head())

5 dòng dữ liệu đầu của stocks_companies sau khi thêm cột result:
       date symbol     open     high      low    close   volume  name  \
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877  AMZN
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358  AMZN
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522  AMZN
3  06-03-19   AMZN  1695.97  1709.43  1620.51  1668.95  3996001  AMZN
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017  AMZN

   employees headquarters_city headquarters_state parsed_time result
0     613300           Seattle                 WA  2019-01-03     up
1     613300           Seattle                 WA  2019-04-03     up
2     613300           Seattle                 WA  2019-05-03   down
3     613300           Seattle                 WA  2019-06-03   down
4     613300           Seattle                 WA  2019-07-03   down